/*CSS STYLE SHEET FOR PERSONAL WEBSITE*/

/*FONTS*/

@font-face {
  font-family: "Sansation";
  src: url("Sansation/Sansation-Regular.ttf") format("truetype");
}



/*HEADINGS and TEXT*/

h1 {
  font-family:"Sansation";
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family:"Sansation";
  margin: 20px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  color: white;
  text-align: center;
}

h3 {
  font-family:Cambria;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

h4 {
  font-size: Cambria;
  font-size: 19px;
  text-align: left;
  color: white;
}

p {
  color: white;
  font-size: 18px;
}

body {
  margin: 0 auto;
  max-width: 3000px;
  padding: 0;
  background-color: #0D0F14;
}




/* ----------CONTAINERS ---------- */

.topbar {
  background-color: #ffffff;
  padding: 5px 20px;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  }

.navbuttons {
  gap: 5px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.homenav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.about {
  display: flex;
  width:700px;
  margin: 0 auto;
  border-left: 4px solid #fff;
  margin-bottom: 80px;
  padding-left: 20px;
  
}

.info_box {
    width: 700px;                 /* Adjust box width */
    margin: 50px auto;          /* Centers the box horizontally */
    padding: 20px;              /* Inner spacing */
    border: 2px solid #333;     /* Border around the box */
    border-radius: 10px;        /* Rounded corners */
    background-color: rgba(255, 255, 255, 0);
    text-align: left;           /* Ensures text inside is left-aligned */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional subtle shadow */
}


/* ---------- BUTTONS --------- */

.btn1 {
  background-color:#0c0d0f;
  color: #FFF;
  text-align: center;
  padding: 6px 0px;
  width:150px;
  border-radius: 4px;
  text-decoration: none;
}

.btn1:hover {
  transform: scale(1.04);
  transform: rotate(1deg);
  background-color: #181818;
}

.btn1.active {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.btn2 {
  background-color:#ffffff;
  color: #000000;
  text-align: center;
  padding: 30px 0px;
  width:250px;
  height: 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;

}

.btn2:hover {
  transform: scale(1.02);
  background-color: #d3d3d3;
}


.center_link {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: aqua;
  margin-top: 20px;
}

.center_link:hover {
  font-size: 18.2px;
  color: rgb(100, 255, 255);
}









/* ---------- Divider ----------*/

.divider {
    width: 100%;           /* Full page width */
    height: 2px;           /* Thickness of the line */
    background-color: #ffffff; /* Line color */
    margin: 5px 0;        /* Space above and below */
}