/*CSS STYLE SHEET FOR PERSONAL WEBSITE*/

/*FONTS*/

@font-face {
  font-family: "Sansation";
  src: url("../bwoods-1.github.io/Sansation/Sansation-Regular.ttf") format("truetype");
}



/*HEADINGS and TEXT*/

h1 {
  font-family:"Sansation";
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family:"Sansation";
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  color: white;
  text-align: center;
}

h3 {
  font-family:Cambria;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

p {
  color: white;
  font-size: 18px;
}

body {
  margin: 0 auto;
  max-width: 3000px;
  padding: 0;
  background-color: #0D0F14;
}




/*CONTAINERS*/

.topbar {
  background-color: #dadada;
  padding: 5px 20px;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  }

.navbuttons {
  gap: 5px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.homenav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.about {
  display: flex;
  width:60%;
  margin: 0 auto;
  border-left: 4px solid #fff;
  margin-bottom: 80px;
  padding-left: 20px;
  
}


/* BUTTONS */

.btn1 {
  background-color:#0c0d0f;
  color: #FFF;
  text-align: center;
  padding: 6px 0px;
  width:150px;
  border-radius: 4px;
  text-decoration: none;
}

.btn1:hover {
  transform: scale(1.04);
  transform: rotate(1deg);
  background-color: #181818;
}

.btn1.active {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.btn2 {
  background-color:#ffffff;
  color: #000000;
  text-align: center;
  padding: 6px 0px;
  width:250px;
  height: 90px;
  border-radius: 4px;
  text-decoration: none;

}